.modalsignup {
  background-color: rgba(0, 0, 0, 0.2);
}

.modal____popupform {
  width: 37%;
margin: 0 auto;
background: white;
padding: 35px;
border: 2px solid #fff;
border-radius: 20px;
height: 580px;
margin-top: 30px;
}

.signup_____headertext {
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
}

.twitterLogo____signup {
  height: 35px;
  margin-left: 50%;
  width: 35px;
  margin-top: -30px;
}

.placeholder____divcreateaccount {
  justify-content: center;
  padding:21px;
  width: 520px;
  margin-bottom: 22px;
  border: 1.2px solid rgb(207, 217, 222);
  font-size: 17px;
  border-radius: 10px;
}

.placeholder____divcreateaccount:focus, .placeholder____div:focus::placeholder, placeholder____div::after {
  margin-bottom: 20px;
  transition-duration: 0.2s;
  outline-color: rgb(29, 161, 242);
  content: attr(placeholder);
}

.placeholder____divcreateaccount:focus::placeholder {
    transform: translate(0px, -16px);
    color: rgb(29, 161, 242);
    margin-bottom: 20px;
    border-radius: 10px;
      font-size: 12px;
      transition-duration: 0.2s;
}

.switcher_____button {
  border: none;
  background-color: transparent;
  outline: none;
  color: rgb(27, 149, 224);
  cursor: pointer;
  margin-top: -10px;
  margin-bottom: 15px;
}

.signup_____button {
  border: 18px solid rgb(29, 161, 242);
  border-radius: 9999px;
  background-color: rgb(29, 161, 242);
  color: white;
  width: 570px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.selector_____options {
  display: flex;
}

.selector_____months {
    border: 1.2px solid rgb(207, 217, 222);
    padding: 20px;
    border-radius: 10px;
    width: 290px;
    margin-right: 20px;
}

.selector_____months:active {
  border-color: blue;
  cursor: pointer;
}

.selector_______days {
  border: 1.2px solid rgb(207, 217, 222);
  padding: 20px;
  border-radius: 10px;
  width: 110px;
  margin-right: 20px;
}

.birthdate____signup {
  font: 14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-weight: bolder;
  margin-top: 5px;
}

.birthdate______paragraph {
  font: 14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  color: grey;
  margin-top: -10px;
}

.selector______year {
  border: 1.2px solid rgb(207, 217, 222);
  padding: 20px;
  border-radius: 10px;
  width: 120px;
}
